.register__input{
    background-color: #000000;
    padding: 13px;
    border-width: 0 0 2px 0;
    border-bottom-color: #ccc;
    color: #ccc;
    margin-bottom: 16px;
}
.register__input::placeholder {
    color: #ccc;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}