.popup__edit-form {
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 36px;
  box-sizing: border-box;
  width: 430px;
  border-radius: 10px;
  margin-right: 38px;
}

@media screen and (max-width: 700px) {
  .popup__edit-form {
    width: 282px;
    padding: 25px 22px;
    margin-right: 0;
  }
}
